{% extends 'web/base.html' %}
fields = ['name', 'pokemon1', 'pokemon2', 'pokemon3', 'pokemon4', 'pokemon5', 'pokemon6', 'pokepaste_code']
{% block content %}
<span vocab="http://schema.org/" typeof="PerformingTeam">
    <div class="card mt-3 shadow-sm mx-auto"  style="max-width: 500px;" >
      <div class="container-fluid">
      <h1 property="name" class="text-center mb-3">{{ paste.name }}</h1>
        <span rel="alumni" typeof="Person">
            <div class="row justify-content-center text-center mb-2 mt-1"> Pokémon 1: {{ paste.pokemon1 }}</div>
        </span>
        <span rel="alumni" typeof="Person">
            <div property="name" class="row justify-content-center text-center mb-2 mt-1"> Pokémon 2: {{ paste.pokemon2 }}</div>
          </span>
          <span rel="alumni" typeof="Person">
            <div property="name" class="row justify-content-center text-center mb-2 mt-1"> Pokémon 3: {{ paste.pokemon3 }}</div>
          </span>
          <span rel="alumni" typeof="Person">
            <div property="name" class="row justify-content-center text-center mb-2 mt-1"> Pokémon 4: {{ paste.pokemon4 }}</div>
          </span>
          <span rel="alumni" typeof="Person">
            <div property="name" class="row justify-content-center text-center mb-2 mt-1"> Pokémon 5: {{ paste.pokemon5 }}</div>
          </span>
          <span rel="alumni" typeof="Person">
            <div property="name" class="row justify-content-center text-center mb-2 mt-1"> Pokémon 6: {{ paste.pokemon6 }}</div>
          </span>
        <div property="identifier" class="row justify-content-center text-center mb-2 mt-1"> Code: {{ paste.pokepaste_code }}</div>
        <div class="row mt-3 mb-3 justify-content-center text-center mb-2 mt-1"> <a class="col-5 me-2 btn btn-outline-danger" href="{% url 'paste_edit' paste.pk %}">Edit</a>
      <a  class="col-5 btn btn-outline-danger" href="{% url 'paste_delete' paste.pk %}">Delete</a></div>
      </div>
    </div>
</span>
{% endblock %}
