{% extends 'web/base.html' %}

{% block content %}
<div class="card mt-3 shadow-sm mx-auto"  style="max-width: 500px;" >
  <div class="container-fluid">
  <h1 class="text-center mb-3">{{ pokemon.name }}</h1>
  
    <div class="row justify-content-center text-center mb-2 mt-1"> {{ pokemon.nickname }}</div>
     <div class="row justify-content-center text-center mb-2 mt-1">Pokemon: {{ pokemon.pokemon }}</div>
    <div class="row justify-content-center text-center mb-2 mt-1">Attack 1: {{ pokemon.attack1 }}</div>
    <div class="row justify-content-center text-center mb-2 mt-1">Attack 2: {{ pokemon.attack2 }}</div>
    <div class="row justify-content-center text-center mb-2 mt-1">Attack 3: {{ pokemon.attack3 }}</div>
    <div class="row justify-content-center text-center mb-2 mt-1">Attack 4: {{ pokemon.attack4 }}</div>
    <div class="row justify-content-center text-center mb-2 mt-1">Item: {{ pokemon.item }}</div>
    <div class="row justify-content-center text-center mb-2 mt-1">Tera Type: {{ pokemon.tera_type }}</div>
    <div class="row mt-3 mb-3 justify-content-center text-center mb-2 mt-1"><a class="col-5 me-2 btn btn-outline-danger" href="{% url 'pokemon_edit' pokemon.pk %}">Edit</a>
    <a class="col-5  btn btn-outline-danger" href="{% url 'pokemon_delete' pokemon.pk %}">Delete</a></div>
  
  </div>
</div>
{% endblock %}
